:root {
	--max-width: 100%;
	--main-content-1400: 1400px;
}
  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-background);
}
  
h1 {
	font-size: 60px;
	font-weight: 400;
}
  
h2 {
	font-size: 30px;
	font-weight: 200;
}
    
p {
	font-size: 15px;
	font-weight: 100;
}
  
  /* ========== MAIN CONTENT ========== */
    
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--max-width);
	height: fit-content;
}
  
.main-coloumn {
	width: 90%;
	max-width: var(--main-content-1400);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
  
.category-title-container {
	text-align: center;
	margin: 40px 0px 40px 0px;
}
  
.category-title-container h1 {
	margin-bottom: 20px;
}
  
.gallery-container {
	width: 90%;
}
 
/*  ========== LIGHTBOX W3S ========== */
  
/* ===== GALLERY IMAGES ===== */
.gallery-img-container .gallery-div {
	/* !!! float:left NOT ALIGNING IMAGES PROPERLY !!! */
	display: inline-block;
	width: 49%;
	margin: 5px;
}
  
img.hover-shadow {
	width: 100%;
	transition: 0.3s;
}
  
.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
  
/* The Modal (background) */
  
/* FADE IN AMIMATION FOR MODAL AND MODAL IMGS */
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
  
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
  
.modal {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	overflow: auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.97);
	/* FADE IN MODAL */
	animation: fadeIn 1s;
}
  
/* !!!!! FADE OUT / HIDE IS DONE WITH closeModal() !!!!! */
.modal.fade-out {
  	animation: fadeOut 1s;
}
  
img.modal-img {
	width: 100%;
	/* NOT IN USE */
	/* animation: fadeIn .5s; */
}
  
  /* Modal Content */
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* background-color: #fefefe; */
	background-color: #15191921;
	margin: 2% auto;
	width: 100%;
	max-width: 1200px;
}
  
/* The Close Button */
.close {
	/*  !!! TEMPORARY FIX FOR X BEING SHOWN ON TOP OF MODAL IMAGE WHEN RESIZING WINDOW !!! */
	z-index: 2;

	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}
	
/* !!! THIS DIV HAS TO BE RELATIVE AS IT CONTAINS CLOSE/PREV/NEXT (absolute) !!!  */
.modal-img-container {
	position: relative;
	/* border: 3px solid blue; */
}

  /* ===== MODAL IMG CONTAIMERS ===== */
  /* !!! THIS DIV HAS TO BE RELATIVE AS IT CONTAINS COUNTER (absolute) !!!  */
.modal-img-div {
	display: none;
	position: relative;
	width: 100%;
	margin: 0px auto;
}
  
  /* Next & previous buttons */
.prev, .next {
	z-index: 2;
	position: absolute;
	top: 44%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}
  
.prev {
  	left: 0;
}
  
  /* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/3 etc) */
.image-counter-div {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
/* Caption text NOT IN USE*/
.caption-container {
	width: 100%;
	/* height: 20px; */
	height: 3%;
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}
  
.thumbnail-container {
	height: 200px;
	width: 100%;
	margin: auto;
	/* !!! MAKE x-scroll WORK !!! */
	overflow: scroll;
}
  
/* Create 3 equal columns that floats next to eachother */
.thumbnail-container .thumbnail-div {
	/* float: left; */
	display: inline-block;
	width: 33%;
	margin: 0px 1px;
}
  
/* ===== THUMBNAIL IMAGES ===== */
img.thumbnail-image {
	width: 100%;
	/* margin: 2px; */
	opacity: 0.6;
}
  
.active,
.thumbnail-image:hover {
	opacity: 1;
	cursor: pointer;
}
  
  
  
  
  
  
  
  
  
  
  
  
  